
body{
/*	credit:gradient code taken from https://codepen.io/P1N2O/pen/pyBNzX*/
	text-align: center;
	background: linear-gradient(-90deg, #f9a05a, #f9deb1, #AC748F, #87ceeb);
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	cursor: url("sun.png"), auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.homepage{
	padding: 250px;
}

.interior{
	padding: 10px;
}

.gm{
	color:#f9deb1 ;
	font-size: 100px;
	line-height: 10%;
	font-family: sans-serif;
}

@font-face {
  font-family: Mont;
  src: url(https://www.dafont.com/mont.font);
}

.begin, .clock {
  font-family: Mont;
}


.guide{
	color: #AC748F;
	font-size: 50px;
	line-height: 50%;
	font-family: sans-serif;

}

.begin{
	font-weight: lighter;
	font-size: 20px;
	font-family: sans-serif;
   position:relative;
   animation: move 3s infinite;
   margin-top: 200px;

}


@keyframes move{
	0%{top: 0px;}
	50%{top: 10px;}
	100%{top: 0px;}
}


a{
		text-decoration: none;
		color: white;
}

.clickhere{
	font-weight: bolder;
	font-size: 20px;
	line-height: 1%;
	font-family: sans-serif;
	color: #6c4c4c;
}

.positionnames{
	font-size: 25px;
	line-height: 50%;
	color: white;
}

.englishnames{
	color: #ac92c0;
	font-size: 100px;
	line-height: 10%;
	color: white;
}


.headings{
	padding: 40px;
}50
.subheading{
	font-size: 12px;
	color: #6c4c4c;
	font-family: sans-serif;
	margin-block-start: 1em;
   margin-block-end: 1em;
   text-decoration: underline;
	
}

.text{
	font-size: 10px;
	color: #6c4c4c;
	font-family: sans-serif;
	text-align: center;
    max-width: 200px;
    vertical-align: middle;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;

}

.text-wrapper {
	display: flex;
	justify-content: center;
}

img{
	width: 70%;
}


.details{
	padding: 100px;
}

.ending{
	font-style: italic;
	color: #ac92c0;
	font-size: 25px;
	color: #ac92c0;
}border:3px solid

.clock{
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex: 1;

}

.datetime{
	color: white;
	width: 340px;
	padding: 15px 10px;
/*	border: 3px solid white;
	border-radius: 5px;*/
	transition: 0.5s;
	transition-property: background, box-shadow;


}

.datetime:hover{
	background: orange;
	box-shadow: 0 0 30px orange;
}

.date{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}

.time{
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.time span:not(:last-child){
	position: relative;
	margin: 0 6px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}

.time span:last-child{
/*	background: white;*/
	font-size: 30px;
	font-weight: 600;
	text-transform:  uppercase;
	margin-top: 10px;
	padding: 0 5px;
	border-radius: 3px;
}

